[
  {rabbit, [
    {tcp_listen_options,
         [{backlog,       128},
         {nodelay,       true},
         {linger,        {true, 0}},
         {sndbuf,        1024},
         {recbuf,        1024},
         {buffer,        1024}]
    },
    {loopback_users, []},
    {cluster_partition_handling, autoheal},
    {delegate_count, 64},
    {fhc_read_buffering, false},
    {fhc_write_buffering, false},
    {heartbeat, 60},
    {queue_index_embed_msgs_below, 0},
    {log_levels, [{autocluster, info},
         {connection, info},
         {channel, warning},
         {federation, info},
         {mirroring, info},
         {shovel, info}]},
    {vm_memory_high_watermark, 0.8},
    {default_user, <<"guest">>},
    {default_pass, <<"guest">>}
  ]},
  {kernel, [

  ]}
,
  {rabbitmq_management, [
    {listener, [
      {port, 15672}
    ]}
  ]}
].
